node_modules/
package-lock.json
assignment1/.DS_Store
assignment1/.DS_Store
assignment2/.DS_Store
assignment1/.DS_Store
assignment3/.DS_Store
assignment4/.DS_Store
assignment4/api/.DS_Store
assignment4/ui/.DS_Store
assignment4/ui/public/.DS_Store
assignment5/.DS_Store
assignment5/api/.DS_Store
assignment5/ui/.DS_Store
